
<div class="py-5 border-top">
  <div class="jumbotron">
    <div class="mx-auto">
    <h3> About Me</h3>
    <div class="row">
      <div class="col-sm-4">
        <img src="/assets/profile_picture/moraga steps_edited.webp" alt="Me!">
      </div>
      <div class="col-sm">
        I grew up on the islands of Hawai'i, but was lured away by school, and ended up falling in love with the Bay Area.
        When I was young, I visited Taiwan every year and was fortunate enough to travel to other places of the world with my family.
        Now I definitely think I have developed a wanderlust, and want to share my experiences with others in case it helps with your travels.
        Feel free to contact me with any questions, and find me on instagram <a href="https://www.instagram.com/ju_uipo/">@ju_uipo</a>
      </div>
    </div>
  </div>
  </div>
</div>
